body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#picture-frame {
    width: 100%;
    border: 2px solid black;
    overflow: hidden;
}

#slides {
    width: 100%;
    height: 100%;
    display: flex;
}

.slide {
    height: 40vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    border: 1px solid black;
}

#btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}