body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#picture-frame {
    width: 100%;
    border: 2px solid black;
    overflow: hidden;
}

#slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 400ms ease;
}

.slide {
    height: 40vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
}

#btns {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.nav-btn {
    height: 15px;
    width: 15px;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}

.nav-btn.active {
    background: mediumslateblue;
    transition: background-color 400ms ease
}